:root {
	--link: blue;
	--visited: purple;
	--background: #d0d0d0;
	--page: white;
	--color: #060606;
}

:root:has(.darkmode) {
	--link: lightblue;
	--visited: pink;
	--background: #111111;
	--page: #2f2f2f;
	--color: #f7f7f7;
	color-scheme: dark;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
	background-color: var(--page);
	width: 100%;
	max-width: 1224px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
}

html {
	width: 100%;
	color: var(--color);
}

code, command {
    font-family: "Source Code Pro", monospace;
}

summary, label {
	user-select: none;
}

h1 {
    font-size: 1.5em;
    margin-top: 0px;
}

h2 {
    font-size: 1.2em;
    padding-top: 5px;
}

h3 {
    font-size: 1.15em;
}

main {
    width: 908px;
	max-width: 100%;
	box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    color: var(--color);
    padding: 30px;
    background-color: var(--page);
	margin-bottom: 30px;
}

sidebar {
    width: 306px;
    color: var(--color);
    padding: 30px;
    background-color: var(--page);
	display: none;
	margin-right: 10px;
	position: fixed;
	max-height: 90%;
	overflow-y: auto;
	box-sizing: border-box;
}

canvas {
	outline: 1px solid #777777;
	max-width: 100%;
	image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	box-sizing: border-box;
}

sidebar ul {
	list-style: none;
	padding-left: 20px;
}

sidebar > ul {
	padding-left: 0px;
}

sidebar li:before {
    content: "-";
    margin-right: 10px;
}

@media screen and (min-width: 848px) {
	body {
        margin-top: 30px;
		background-color: var(--background);
	}
}

@media screen and (min-width: 1224px) {
	sidebar {
		display: block;
		float: left;
	}
	main {
		display: block;
		float: right;
	}
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link);
}

input[type=text], button, select {
	padding: 3px 5px;
}

code {
	tab-size: 4;
}

pre {
	position: relative;
}

pre .copy {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	user-select: none;
	cursor: copy;
}

pre .copy:hover:not(:active) {
	background: #77777777;
}